node{
    text-size: 20px;
    text-alignment: center;
    text-offset: 0px, -7px;
    size: 30px;
}

node.not_selected{
    fill-color: grey;
}

node.selected{
    fill-color: blue;

}

node.depart {
    fill-color: green;
    shape:rounded-box;
    stroke-mode:plain;
}


node.arrivee {
    fill-color: red;
    shape:rounded-box;
    stroke-mode:plain;
}

node.machine{
    fill-color: white;
    shape:rounded-box;
    stroke-mode:plain;
}

edge {
    text-size: 20px;
}

edge.chemin {
    size: 3px;
    fill-color: blue;
}