node{
    text-size: 20px;
    text-alignment: center;
    size: 30px;
}

node.not_selected{
    fill-color: grey;
}

node.selected{
    fill-color: blue;

}

node.depart {
    fill-color: blue;
}


node.arrivee {
    fill-color: green;
}

edge {
    text-size: 20px;
}

edge.chemin {
    size: 3px;
    fill-color: blue;
}